<% unless goal.nil? %>
  <% experiment_class = "experiment experiment_with_goal" %>
<% else %>
  <% experiment_class = "experiment" %>
<% end %>

<% experiment.calc_winning_alternatives %>

<div class="<%= experiment_class %>">
  <div class="experiment-header">
    <h2>
      Experiment: <%= experiment.name %>
      <% if experiment.version > 1 %><span class='version'>v<%= experiment.version %></span><% end %>
      <% unless goal.nil? %><span class='goal'>Goal:<%= goal %></span><% end %>
      <% metrics = @metrics.select {|metric| metric.experiments.include? experiment} %>
      <% unless metrics.empty? %>
        <span class='goal'>Metrics:<%= metrics.map(&:name).join(', ') %></span>
      <% end %>
    </h2>

    <% if goal.nil? %>
      <div class='inline-controls'>
        <small><%= experiment.start_time ? experiment.start_time.strftime('%Y-%m-%d') : 'Unknown' %></small>
        <%= erb :'experiments/_controls', :locals => {:experiment => experiment} %>
      </div>
    <% end %>
  </div>
  <table>
    <% alternatives = experiment.alternatives %>
    <% scores = @scores.select {|score| score.experiments.include? experiment} %>
    <tr>
      <th/>
      <% alternatives.each do |alternative| %>
        <th>
          <%= alternative.name %>
          <% if alternative.control? %>
            <em>control</em>
          <% end %>
        </th>
      <% end %>
    </tr>
    <tr>
      <td>Participants</td>
      <% alternatives.each do |alternative| %>
        <td><%= alternative.participant_count %></td>
      <% end %>
    </tr>
    <tr>
      <td rowspan="4">Completed</td>
      <% alternatives.each do |alternative| %>
        <td><%= alternative.completed_count(goal) %></td>
      <% end %>
    </tr>
    <tr>
      <% alternatives.each do |alternative| %>
        <td>
          <%= number_to_percentage(alternative.conversion_rate(goal)) %>%
          <% if experiment.control.conversion_rate(goal) > 0 && !alternative.control? %>
            <% if alternative.conversion_rate(goal) > experiment.control.conversion_rate(goal) %>
              <span class='better'>
                +<%= number_to_percentage((alternative.conversion_rate(goal)/experiment.control.conversion_rate(goal))-1) %>%
              </span>
            <% elsif alternative.conversion_rate(goal) < experiment.control.conversion_rate(goal) %>
              <span class='worse'>
                <%= number_to_percentage((alternative.conversion_rate(goal)/experiment.control.conversion_rate(goal))-1) %>%
              </span>
            <% end  %>
          <% end %>
        </td>
      <% end %>
    </tr>
    <tr>
      <% alternatives.each do |alternative| %>
        <td>
          <div class="box-<%=experiment.jstring(goal)%> confidence-<%=experiment.jstring(goal)%>">
            <span title='z-score: <%= round(alternative.z_score(goal), 3) %>'><%= confidence_level(alternative.z_score(goal)) %></span>
            <br>
          </div>
        </td>
      <% end %>
    </tr>
    <tr>
      <% alternatives.each do |alternative| %>
        <td>
          <div class="box-<%=experiment.jstring(goal)%> probability-<%=experiment.jstring(goal)%>">
            <span title="p_winner: <%= round(alternative.p_winner(goal), 3) %>">Winning Prob: <%= number_to_percentage(round(alternative.p_winner(goal), 3)) %>%</span>
          </div>
        </td>
      <% end %>
    </tr>
    <% scores.each do |score| %>
      <tr>
        <td rowspan="3"><%= score.name %></td>
        <% alternatives.each do |alternative| %>
          <% total_score = alternative.score(score.name) %>
          <% score_participant = alternative.score_participant_count(score.name) %>
          <% average_score = score_participant > 0 ? total_score / score_participant : 0 %>
          <td><%= total_score %> (<%= score_participant %> participant, <%= average_score %> avg.)</td>
        <% end %>
      </tr>
      <tr>
        <% alternatives.each do |alternative| %>
          <td>
            <%= number_to_percentage(alternative.conversion_rate_score(score.name)) %>%
            <% if experiment.control.conversion_rate_score(score.name) > 0 && !alternative.control? %>
              <% if alternative.conversion_rate_score(score.name) > experiment.control.conversion_rate_score(score.name) %>
                <span class='better'>
                  +<%= number_to_percentage((alternative.conversion_rate_score(score.name)/experiment.control.conversion_rate_score(score.name))-1) %>%
                </span>
              <% elsif alternative.conversion_rate_score(score.name) < experiment.control.conversion_rate_score(score.name) %>
                <span class='worse'>
                  <%= number_to_percentage((alternative.conversion_rate_score(score.name)/experiment.control.conversion_rate_score(score.name))-1) %>%
                </span>
              <% end  %>
            <% end %>
          </td>
        <% end %>
      </tr>
      <tr>
        <% alternatives.each do |alternative| %>
          <td>
            <div>
              <span title='z-score: <%= round(alternative.z_score_score(score.name), 3) %>'><%= confidence_level(alternative.z_score_score(score.name)) %></span>
              <br>
            </div>
          </td>
        <% end %>
      </tr>
    <% end %>
    <tr class="totals">
      <td>Finish</td>
      <% alternatives.each do |alternative| %>
        <td>
          <% if experiment.has_winner? %>
            <% if experiment.winner.name == alternative.name %>
              Winner
            <% else %>
              Loser
            <% end %>
          <% else %>
            <form action="<%= url('experiment') + '?experiment=' + experiment.name %>" method='post' onclick="return confirmWinner()">
              <input type='hidden' name='alternative' value='<%= h alternative.name %>'>
              <input type="submit" value="Use this" class="green">
            </form>
          <% end %>
        </td>
      <% end %>
    </tr>
  </table>
</div>
