<div class="experiment">
  <div class="experiment-header">
    <h2>Experiment: <%= experiment.name %> <% if experiment.version > 1 %><span class='version'>v<%= experiment.version %></span><% end %></h2>
    <div class='inline-controls'>
      <form action="<%= url "/reset/#{experiment.name}" %>" method='post' onclick="return confirmReset()">
        <input type="submit" value="Reset Data">
      </form>
      <form action="<%= url "/#{experiment.name}" %>" method='post' onclick="return confirmDelete()">
        <input type="hidden" name="_method" value="delete"/>
        <input type="submit" value="Delete" class="red">
      </form>
    </div>
  </div>
  <table>
    <tr>
      <th>Alternative Name</th>
      <th>Participants</th>
      <th>Non-finished</th>
      <th>Completed</th>
      <th>Conversion Rate</th>
      <th>Confidence</th>
      <th>Finish</th>
    </tr>

    <% total_participants = total_completed = 0 %>
    <% experiment.alternatives.each do |alternative| %>
      <tr>
        <td>
          <%= alternative.name %>
          <% if alternative.control? %>
            <em>control</em>
          <% end %>
        </td>
        <td><%= alternative.participant_count %></td>
        <td><%= alternative.participant_count - alternative.completed_count %></td>
        <td><%= alternative.completed_count %></td>
        <td>
          <%= number_to_percentage(alternative.conversion_rate) %>%
          <% if experiment.control.conversion_rate > 0 && !alternative.control? %>
            <% if alternative.conversion_rate > experiment.control.conversion_rate %>
              <span class='better'>
                +<%= number_to_percentage((alternative.conversion_rate/experiment.control.conversion_rate)-1) %>%
              </span>
            <% elsif alternative.conversion_rate < experiment.control.conversion_rate %>
              <span class='worse'>
                <%= number_to_percentage((alternative.conversion_rate/experiment.control.conversion_rate)-1) %>%
              </span>
            <% end  %>
          <% end %>
        </td>
        <td>
          <span title='z-score: <%= round(alternative.z_score, 3) %>'><%= confidence_level(alternative.z_score) %></span>
        </td>
        <td>
          <% if experiment.winner %>
            <% if experiment.winner.name == alternative.name %>
              Winner
            <% else %>
              Loser
            <% end %>
          <% else %>
            <form action="<%= url experiment.name %>" method='post' onclick="return confirmWinner()">
              <input type='hidden' name='alternative' value='<%= alternative.name %>'>
              <input type="submit" value="Use this" class="green">
            </form>
          <% end %>
        </td>
      </tr>

      <% total_participants += alternative.participant_count %>
      <% total_completed += alternative.completed_count %>
    <% end %>

    <tr class="totals">
      <td>Totals</td>
      <td><%= total_participants %></td>
      <td><%= total_participants - total_completed %></td>
      <td><%= total_completed %></td>
      <td>N/A</td>
      <td>N/A</td>
      <td>N/A</td>
    </tr>
  </table>
</div>