<% unless goal.nil? %>
  <% experiment_class = "experiment experiment_with_goal" %>
<% else %>
  <% experiment_class = "experiment" %>
<% end %>
<div class="<%= experiment_class %>">
  <div class="experiment-header">
    <h2>
      <% if goal %>
          Goal: <%= goal.humanize %>
      <% else %>
          Experiment: <%= experiment.name %><% if experiment.version > 1 %><span class='version'>v<%= experiment.version %></span><% end %>
          <div class='inline-controls'>
            <small><%= experiment.start_time ? experiment.start_time.strftime('%Y-%m-%d') : 'Unknown' %></small>
            <%= erb :_controls, :locals => {:experiment => experiment} %>
          </div>
       <% end %>
    </h2>
  </div>
  <table>
    <tr>
      <th>Alternative Name</th>
      <th>Participants</th>
      <th>Completed</th>
      <th>Conversion Rate</th>
      <th>Confidence</th>
      <th>Finish</th>
    </tr>

    <% total_participants = total_completed = total_unfinished = 0 %>
    <% experiment.alternatives.each do |alternative| %>
      <tr>
        <td>
          <%= alternative.name %>
          <% if alternative.control? %>
            <em>control</em>
          <% end %>
        </td>
        <td><%= alternative.participant_count %></td>
        <td><%= alternative.completed_count(goal) %></td>
        <td>
          <%= number_to_percentage(alternative.conversion_rate(goal)) %>%
          <% if experiment.control.conversion_rate(goal) > 0 && !alternative.control? %>
            <% if alternative.conversion_rate(goal) > experiment.control.conversion_rate(goal) %>
              <span class='better'>
                +<%= number_to_percentage((alternative.conversion_rate(goal)/experiment.control.conversion_rate(goal))-1) %>%
              </span>
            <% elsif alternative.conversion_rate(goal) < experiment.control.conversion_rate(goal) %>
              <span class='worse'>
                <%= number_to_percentage((alternative.conversion_rate(goal)/experiment.control.conversion_rate(goal))-1) %>%
              </span>
            <% end  %>
          <% end %>
        </td>
        <td>
          <span title='z-score: <%= round(alternative.z_score(goal), 3) %>'><%= confidence_level(alternative.z_score(goal)) %></span>
        </td>
        <td>
          <% if experiment.has_winner? %>
            <% if experiment.winner.name == alternative.name %>
              Winner
            <% else %>
              Loser
            <% end %>
          <% else %>
            <form action="<%= url experiment.name %>" method='post' onclick="return confirmWinner()">
              <input type='hidden' name='alternative' value='<%= alternative.name %>'>
              <input type="submit" value="Use this" class="green">
            </form>
          <% end %>
        </td>
      </tr>
      <% if alternative.completed_value(goal) != "N/A" %>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td>
            <%= number_to_currency(alternative.completed_value(goal)) %>
            <% if experiment.control.completed_value(goal) > 0 && !alternative.control? %>
              <% if alternative.completed_value(goal) > experiment.control.completed_value(goal) %>
              <span class='better'>
                +<%= number_to_percentage((alternative.completed_value(goal)/experiment.control.completed_value(goal))-1) %>%
              </span>
              <% elsif alternative.completed_value(goal) < experiment.control.completed_value(goal) %>
              <span class='worse'>
                <%= number_to_percentage((alternative.completed_value(goal)/experiment.control.completed_value(goal))-1) %>%
              </span>
              <% end  %>
            <% end %>
          </td>
          <td><%= number_to_percentage(alternative.probability_better_than_control(goal)) if alternative.probability_better_than_control(goal) != "N/A" %></td>
          <td>
          </td>
        </tr>
      <% end %>

      <% total_participants += alternative.participant_count %>
      <% total_completed += alternative.completed_count(goal) %>
    <% end %>

    <tr class="totals">
      <td>Totals</td>
      <td><%= total_participants %></td>
      <td><%= total_completed %></td>
      <td>N/A</td>
      <td>N/A</td>
      <td>N/A</td>
    </tr>
  </table>
</div>
