<div class="experiment-header">
  <h2>
    <% if goal %>
      Goal: <%= goal.humanize %>
    <% else %>
      Experiment: <a href="<%= url "/#{experiment.name}" %>"><%= experiment.name %></a><% if experiment.version > 1 %><span class='version'>v<%= experiment.version %></span><% end %>
      <div class='inline-controls'>
        <small><%= experiment.start_time ? experiment.start_time.strftime('%Y-%m-%d') : 'Unknown' %></small>
        <%= erb :_controls, :locals => {:experiment => experiment} %>
      </div>
    <% end %>
  </h2>
</div>