<% if @experiments.any? %>
  <p class="intro">The list below contains all the registered experiments.</p>

  <input type="text" placeholder="Begin typing to filter" id="filter" />
  <input type="button" id="toggle-completed" value="Hide completed" />
  <input type="button" id="toggle-active" value="Hide active" />
  <input type="button" id="clear-filter" value="Clear filters" />

  <div class="experiment" data-complete="false">
    <div class="experiment-header">
      <h2>Active Experiments</h2>
    </div>
    <% unless @experiments.first.first&.has_winner? %>
      <table>
        <% @experiments.first.each do |experiment| %>
          <tr class="experiment" data-name="<%= experiment.name %>">
            <td><a href="<%= url "/experiments/#{experiment.name}" %>"><%= experiment.name %></a></td>
          </tr>
        <% end %>
      </table>
    <% else %>
      <p class="intro">No currently active experiments.</p>
    <% end %>
  </div>
  <div class="experiment" data-complete="true">
    <div class="experiment-header">
      <h2>Completed Experiments</h2>
    </div>
    <% if @experiments.last.first&.has_winner? %>
      <table>
        <% @experiments.last.each do |experiment| %>
          <tr class="experiment" data-name="<%= experiment.name %>">
            <td><a href="<%= url "/experiments/#{experiment.name}" %>"><%= experiment.name %></a></td>
          </trl>
        <% end %>
      </table>
    <% else %>
      <p class="intro">No currently completed experiments.</p>
    <% end %>
  </div>
<% else %>
  <p class="intro">No experiments have started yet, you need to define them in your code and introduce them to your users.</p>
  <p class="intro">Check out the <a href='https://github.com/splitrb/split#readme'>Readme</a> for more help getting started.</p>
<% end %>
