<!DOCTYPE html>
<html>
<head>
<meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
<link href="<%= url 'reset.css' %>" media="screen" rel="stylesheet" type="text/css">
<link href="<%= url 'style.css' %>" media="screen" rel="stylesheet" type="text/css">
<script type="text/javascript" src='<%= url 'dashboard.js' %>'></script>
<title>Split</title>

</head>
<body>
  <div class="header">
    <h1>Split Dashboard</h1>
    <p class="environment"><%= Rails.env.titlecase %></p>
  </div>

  <div id="main">
    <%= yield %>
  </div>

  <div id="footer">
    <p>Powered by <a href="http://github.com/andrew/split">Split</a> v<%=Split::VERSION %></p>
  </div>
</body>
</html>