<!DOCTYPE html>
<html>
<head>
<meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
<meta http-equiv="refresh" content="240" >
<link href="<%= url 'reset.css' %>" media="screen" rel="stylesheet" type="text/css">
<link href="<%= url 'style.css' %>" media="screen" rel="stylesheet" type="text/css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script type="text/javascript" src='<%= url 'dashboard.js' %>'></script>
<title>Split</title>

</head>
<body>
  <div class="header">
    <h1><a href="<%= url "/" %>">Split Dashboard</a></h1>
    <p class="environment"><%= @current_env %></p>
  </div>

  <div id="main">
    <%= yield %>
  </div>

  <div id="footer">
    <p>Powered by <a href="http://github.com/andrew/split">Split</a> v<%=Split::VERSION %></p>
  </div>
</body>
</html>